@using LolSite.Models
@model List<LolSite.Models.Summoner>

@{
    ViewBag.Title = "NoRankedStats";
}

<h2>The specified Summoner has no Ranked Stats</h2>

<div>@Html.ActionLink("Return to My Summoners", "MySummoners", "Search")</div>


