@{
    ViewBag.Title = "LolSite";
}

<h1>League of legends</h1>

<div class="container">
    <div class="well">
        <p>This site provides data, related to the game League of Legends.</p>
        <p>
            Unregistered users can only search simple data, regarding summoners.
        </p>
        <p>
            Registered users can receive detailed information about summoners, champions, ranking, etc.
        </p>
    </div>
</div>